/*CSS clear*/
h1,
h2,
h3,
h4,
h5,
span,
p,
a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 1px #4d4d4d;
	background: inherit;
	text-decoration: none;
}
html, body {
	height: 100%;
}
.content {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
/*Basic styles for all pages*/
.button {
	text-align: center;
	text-decoration: none;
	height: auto;
}
button:hover {
	text-decoration: none;
}
.button h1 {
	margin: 0px;
}
.index-img {
	width: 25%; 
	height: auto;
	display: block;
	top: 25%;
	position: relative;
}
.white-bg {
	background-image: url(../img/WhiteBackground.png);
	background-size: 100% auto;
	height: 50%;
}
.red-bg {
	background: red;
	height: 50%;
}